:root {
  --heading-font-family: Nunito;
  --default-font-family: Roboto;
  --primary-color: #662eed;
  --secondary-color: #f9f7fe;
  --white-color: #ffffff;
  --text-dark-color: #272142;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

html {
  font-family: var(--heading-font-family);
}
body {
  font-family: var(--heading-font-family);
  background-color: var(white-color);
}

footer {
  background-color: var(--secondary-color);
  padding: 38px 12px;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  @media (min-width: 576px) {
    display: flex;
    justify-content: space-between;
    flex-direction: ;
  }
}
.active {
  color: var(--primary-color) !important;
}
.navbar-brand {
  font-weight: 700;
}

/* index.html */

main {
  margin-top: 55px;
}
.hero-section {
  background-color: tomato;
  color: var(--white-color);
  padding: 46px 5px;
}

.hero-title {
  font-size: 52px;
  line-height: 1.3;
  @media (min-width: 560px) {
    font-size: 72px;
  }
}

.hero-text {
  font-size: 24px;
  line-height: 1.4;
  max-width: 560px;
  margin: 0 auto;
}
.img-main-about {
  width: 460px;
  height: 450px;
}

.menu-section {
  max-width: 1160px;
  margin: 70px auto;

  @media (min-width: 560px) {
    margin: 100px auto;
  }
}

.meal-name {
  font-size: 20px;
  color: var(--text-dark-color);
  margin-top: 10px;

  @media (min-width: 560px) {
    margin-top: 15px;
    font-size: 28px;
  }
}
.meal-item {
  margin-bottom: 25px;
  @media (min-width: 560px) {
    margin-bottom: 50px;
  }
}

/* footer */
.logo-footer {
  font-size: 24px;
  color: var(--text-dark-color);
}

.social-link-list {
  display: flex;
  justify-content: center;
}
.social-link-item {
  margin-right: 30px;
}
.fa-brands {
  color: var(--text-dark-color);
  &:hover,
  &:focus {
    color: var(--primary-color);
  }
}
.text-footer {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 16px;

  color: var(--text-dark-color);
}
/* contact */

.contact-heading {
  color: var(--primary-color);
}
